<!-- viewer.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <mat-list-item>
        <strong>Report Data</strong>
      </mat-list-item>
      <mat-list-item>
        <pre>{{ reportData | json }}</pre>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <strong>Status Data</strong>
      </mat-list-item>
      <mat-list-item>
        <pre>{{ statusData | json }}</pre>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <strong>Log Data</strong>
      </mat-list-item>
      <mat-list-item>
        <pre>{{ logData | json }}</pre>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div class="viewer-content">
      <h1>{{ reportData.title }}</h1>
      <p>{{ reportData.content }}</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
