[Unit]
Description=Ubuntu Autoinstall Webhook
After=network.target

[Service]
ExecStart=/path/to/ubuntu-autoinstall-webhook/webhook serve
WorkingDirectory=/path/to/ubuntu-autoinstall-webhook/
Restart=always
User=nobody
Group=nogroup
Environment="WEBHOOK_PORT=5000"

[Install]
WantedBy=multi-user.target
