/* Styling for the config editor */
.editor-container {
  padding: 16px;
}

.config-selector {
  margin-bottom: 10px;
}

/* Set a height for the Monaco editor */
ngx-monaco-editor {
  height: 400px;
  display: block;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.message {
  margin-top: 10px;
  color: green;
}
