/* Styling for cloud-init configs page */
.configs-container {
    padding: 16px;
  }

  .config-entry {
    background: #efe;
    border: 1px solid #9c9;
    margin-bottom: 10px;
    padding: 10px;
  }
